.home-container{
    width: 100%;
    height: 100%;
    color: black;
    height: fit-content;
    background: linear-gradient(45deg, transparent, rgba(165, 165, 165,0.5));
}

.row{
    width: 100%;
    background: linear-gradient(45deg, transparent, rgba(165, 165, 165,0.8));
    height: fit-content;
    display: grid;

}
.row-child{
    color: black;
    background: linear-gradient(45deg, transparent, rgba(15, 165, 165,0.5));
    height: fit-content;
    width: 100%;
}

 .name {
    margin-top: 2%;
    text-shadow: 2px 3px 5px rgba(15, 15, 165,0.5) ;
    text-align: center;
    font-size: 160%;
    font-weight: 700;
} 


.profile{
    margin-top: 2%;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
}
.columns{
    position: relative;
    display: inline;
    width: 30%;
    margin: 1%;
    height: 90%;
    box-shadow: 0.9px 0 5px 0 rgba(15, 15, 165,0.5);
   

}
.list1, .list2{
    display:inline;
    list-style: none;
    text-align: center;
   
}
.columns li{
    margin-top: 10%;
    margin-bottom: 5%;
}

.column3{
 position: relative;
    display: inline;
    width: 30%;
    margin: 1%;
    height: 90%;
    
    box-shadow: 6px 6px 16px rgba(165, 5, 165,0.6);
    background: white;
    animation: animate 6s linear infinite ;
    animation-delay: -1s;

}
@keyframes animate
{
0%{
    background: rgba(33, 5, 33,0.4);
}
20%{
    background: rgba(66, 5, 66,0.5);
}
40%{
    background: rgba(99, 5, 99,0.6);
}
60%{
    background: rgba(132, 5, 132,0.7);
}
70%{
    background: rgba(165, 5, 165,0.8);
}
100%{
    background: blueviolet;
}
}
.list3{
    display: flex;
    margin: 2% 0;
    margin-right: 2%;
    margin-left: 1%;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 98%;
    width: 99%;


}
.column3 .list3 .img{
   
    margin: auto 0;
    height: 80%;
    width: 99%;
}
